main {
    min-height: 80vh;
}

h3 {
    padding: 1rem 0;
}

.rating span {
    margin: 0.1rem;

}

.container_ {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100-10)vh;
    margin-top: 60px;
}

.form-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}